body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f6f6f6;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  color: #cf4fb9;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 60%;
  margin: 20px auto;
  text-align: center;
  background: white;
}

td,
th {
  border: 2px solid black;
  padding: 10px;
}

button {
  background-color: #cf4fb9;
  color: white;
  border: none;
  padding: 10px 12px;
  border-radius: 6px;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  background-color: #b23fa1;
}
