html {
  background: #7b7775;
}

body {
  font-size: 12px;
  font-family: Verdana, Arial, sans-serif;
  color: #484645;
  margin: 0;
  line-height: 1.6;
}

header img {
  margin: 10px 0 10px 30px;
}

header,
article {
  width: 80%;
  margin: 0px auto;
  background-color: white;
}

nav {
  background-color: #351596;
}

nav a,
nav a:hover,
nav a:visited,
nav a:active {
  color: white;
  padding: 10px 20px;
  display: inline-block;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

a,
a:hover,
a:visited,
a:active {
  color: #351596;
  font-weight: bold;
}

h2,
h3 {
  color: #40219d;
}

article {
  padding: 20px 40px;
  box-sizing: border-box;
  min-height: 600px;
}

article img {
  float: right;
  margin-right: 15px;
  margin-bottom: 15px;
}

footer {
  padding-top: 15px;
  min-height: 30px;
  background: #7b7775;
  color: white;
  text-align: center;
}

table {
  border-collapse: collapse;
}

td,
th {
  font-size: 12px;
  border: solid 1px #6d6c6c;
  padding: 5px 3px;
}

th {
  color: #6d6c6c;
  background-color: #f7dcdc;
  height: 30px;
}

td:nth-child(4) {
  text-align: right;
  padding-right: 5px;
}

tr:nth-child(odd) {
  background-color: #e8e8e8;
}

/*Kontakt*/
.kontakt-forma {
  margin-top: 8rem;
  padding-top: 20px;
}

form {
  background-color: #e4e4e4;
  border-radius: 12px;
  padding: 30px 40px;
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 18px;
}

label {
  font-weight: bold;
  color: #333;
  font-size: 14px;
}

input[type="submit"] {
  background: #351596;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: bold;
  transition: all 0.3s ease;
}
input[type="submit"]:hover {
  background-color: #24125c;
}

.error {
  color: #c30f10;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: -5px;
  display: block;
}
